.random-buttons {
  width: 690px;
  display: flex;
  justify-content: space-around;
}

/* RESPONSIVE */

@media (max-width: 576px) {
  .random-buttons {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
  }
}
