.main__btn-section--btn-random {
  width: 67%;
  display: flex;
  justify-content: space-around;
}

/* RESPONSIVE */

@media (max-width: 576px) {
  .main__btn-section--btn-random {
    width: 90%;
    margin: auto;
    padding-bottom: 5%;
  }
}
