.main {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  padding-bottom: 2%;
  margin-top: 3em;
  &__header {
    position: relative;
    align-items: center;
    display: flex;
    &--title {
      @include backColor(black);
      color: $mainColor;
      float: left;
      width: $fullWidth;
      padding: 1%;
    }
    &--result {
      font-size: $mainFont;
      color: $mainColor;
      @include backColor(black);
      width: 50%;
      padding-right: 15px;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.main__btn-section {
  display: flex;
  align-items: center;
  min-height: 200px;
  &--stop {
    text-align: center;
    div p {
      font-size: 25px;
    }
  }
}

/* RESPONSIVE */

@media (max-width: 576px) {
  .main {
    height: 100vh;
    border: none;
    @include mobPage;
    margin-top: 0;
    &__header {
      position: inherit;
      align-items: center;
      flex-flow: column;
      &--title {
        margin: 0;
        font-size: $mobFontSize;
        text-align: center;
      }
      &--result {
        font-size: $mobFontSize;
        width: $fullWidth;
        position: inherit;
        justify-content: center;
        padding-bottom: 5px;
      }
    }
  }

  .main__btn-section {
    display: block;
    margin-top: 3em;
    &--stop {
      div {
        color: $mainColor;
        @include backColor(rgb(221, 221, 57));
        font-size: $mobFontSize;
        width: 90%;
        margin: auto;
        padding: 0.5em;
        box-shadow: $shadow;
        p {
          margin: auto;
        }
      }
    }
  }
}
