.login {
  width: 75%;
  margin: auto;
  margin-top: 3em;
  &__label {
    text-align: center;
    color: $mainColor;
    padding: 0.4em;
    font-size: $mainFont;
    @include backColor(black);
    margin: auto;
  }
  &__form {
    border: solid 2px black;
    margin: auto;
    display: flex;
    div {
      display: flex;
      flex-direction: column;
      margin-right: 7%;
      width: 50%;
      align-items: flex-end;
      span {
        &:first-child {
          margin-top: 1em;
        }
        font-size: $mainFont;
        margin-bottom: 1.2em;
        input {
          outline-color: cornflowerblue;
          padding: 3%;
          width: 180px;
          height: 60px;
          margin-left: 1em;
          font-size: $mainFont;
        }
      }
    }
  }
}

.login__btn-section {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: $mainFont;
  a {
    width: 45%;
    margin: 10%;
  }
}

/* RESPONSIVE */

@media (max-width: 576px) {
  .login {
    @include mobPage;
    height: 100vh;
    margin-top: 0;
    &__label {
      font-size: $mobFontSize;
    }
    &__form {
      border: none;
      font-size: $mobFontSize;
      display: block;
      text-align: center;
      div {
        @include mobPage;
        padding-right: 20%;
        span input {
          max-width: 125px;
          max-height: 40px;
          font-size: $mobFontSize;
        }
      }
    }
  }

  .login__btn-section {
    width: $fullWidth;
    a {
      width: 100%;
    }
  }
}
