.login-button {
  @include btnStyle($fullWidth, 100%, cornflowerblue);
  border-color: blue;
  position: relative;
  &:disabled {
    @include backColor(#dadae7);
    border: none;
  }
  svg {
    @include svgPosition;
    left: 4%;
    bottom: 15%;
  }
}

.random-button {
  @include btnStyle(3em, 3em, rgb(160, 148, 148));
  border: solid 4px;
  border-color: grey;
  &.active {
    @include backColor(rgb(168, 168, 18));
  }
  &.first {
    @include backColor(green);
  }
  &.last {
    @include backColor(orange);
  }
}

.stop-button {
  @include btnStyle(7.5em, 4.5em, #e99050);
  box-shadow: $shadow;
  border: solid 4px #d75454;
  margin-left: 1em;
  &:disabled {
    background-color: rgb(216, 180, 167);
    border: none;
  }
}

.reset-button {
  @include btnStyle(100%, 1.8em, rgb(54, 54, 138));
  border: solid 4px blue;
}

/* RESPONSIVE */

@media (max-width: 576px) {
  .login-button {
    box-shadow: $shadow;
    font-size: $mobFontSize;
  }

  .random-button {
    max-width: 55px;
    max-height: 55px;
    font-size: $mobFontSize;
  }

  .stop-button {
    @include btnMobStyle(80%, 2em);
    margin-left: auto;
    margin-top: 20%;
  }

  .reset-button {
    @include btnMobStyle(90%, 2em);
    margin: auto;
    margin-top: 60px;
  }
}
