@mixin backColor($backColor) {
  background-color: $backColor;
}

@mixin mobPage {
  background-color: #bbc0ad;
  width: 100%;
}

@mixin svgPosition {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

@mixin btnStyle($width, $height, $backColor) {
  color: $mainColor;
  font-size: $mainFont;
  width: $width;
  height: $height;
  background-color: $backColor;
}

@mixin btnMobStyle($width, $height) {
  font-size: $mobFontSize;
  width: $width;
  height: $height;
}
